body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
span{
display: block;
text-align: center;
box-sizing: border-box;
background-color: red;
color: white;
border-radius: 5px;
margin: 0 auto;
margin-top: 4px;
margin-bottom: 4px;
font-style: bold;
}
.head{
    display: flex;
    justify-content: center;
}
.head img{
    max-width: 350px;
}
.container{
    display: flex;
    text-align: center;
    height: 400px;
    flex-direction: row;
    flex: 1;
}
.left,.center,.right{
    display: flex;
    flex-direction: column;
    width: 33%; 
    align-items: center;
}

.img{
width: 105px;
height: 105px;
border-radius: 5px;
text-align: center;

}
.content{
    padding-top: 25px;
    padding-bottom: 25px;
    width: 105px;
    
}
li{
    list-style: none;
}
footer {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    background-color: rgb(234, 229, 229);
    text-align: center;
   
}
