*{
    display: block;
    box-sizing: border-box;

}
span{
text-align: center;
box-sizing: border-box;
background-color: red;
color: white;
border-radius: 5px;
margin: 0 auto;
margin-top: 4px;
margin-bottom: 4px;
display: block;
font-style: bold;

}
.left{
    margin-top: 5px;
    margin-left: 100px;
    margin-right: 1000px;
    margin-bottom: 5px;
}
.center{
    margin-top: 5px;
    margin-left: 600px;
    margin-right: 600px;
    margin-bottom: 5px;
}
.right{
    margin-top: 5px;
    margin-left: 1000px;
    margin-right: 100px;
}
.img{
width: 105px;
height: 105px;
border-radius: 5px;
text-align: center;
display: block;

}
.content{
    padding-top: 25px;
    padding-bottom: 25px;
    
}
footer{
    text-align: center;
    display:block;
    box-sizing: border-box;
    margin-top: 1300px;
}
