/* *{
    display: block;
    box-sizing: border-box;

} */
span{
text-align: center;
box-sizing: border-box;
background-color: red;
color: white;
border-radius: 5px;
margin: 0 auto;
margin-top: 4px;
margin-bottom: 4px;
display: flex;
font-style: bold;
}
.contaner head{
    display: flex;
    /* align-content: space-around; */
}
.head{
    display: flex;
    justify-content: center;
}
.left{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 300px;
    align-items: center;
    /* margin-top: 5px;
    margin-left: 100px;
    margin-right: 1000px;
    margin-bottom: 5px; */
}
.center{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    /* margin-top: 5px;
    margin-left: 600px;
    margin-right: 600px;
    margin-bottom: 5px; */
}
.right{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    width: 300px;
    align-items: center;
    /* margin-top: 5px;
    margin-left: 1000px;
    margin-right: 100px; */
}
.img{
width: 105px;
height: 105px;
border-radius: 5px;
text-align: center;

}
.content{
    padding-top: 25px;
    padding-bottom: 25px;
    width: 105px;
    
}
footer{
    text-align: center;
    box-sizing: border-box;
    margin-top: 1300px;
}
